@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*Button*/

.button {
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 54px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    background-color: #D772C1;
    color: #fff;
    box-shadow: 0px 2px 2px;
    border: 2px rgba(0, 0, 0, 0.3);
    border-radius: 2px;
    cursor: pointer;
    width: 223px;
    font-family: 'Montserrat';
}