@media (max-width: 575.98px) {
  .header-sm {
    display: block !important;
    width: 100vw;
    border-bottom: 1px solid #e4e4e4;
  }
  .header-sm .container {
    height: 70px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header-sm_menu {
    height: 100%;
    display: flex;
    align-items: center;
  }
  .menu-icon {
    height: 32px;
    width: 32px;
  }
  .header-open-sm {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    z-index: 1;
  }
  .line {
    width: 1px;
    height: 35px;
    background-color: #F4F4F4;
    margin: 0 16px;
  }
  .header-sm_logo {
    width: 40px;
  }
  .header-menu-sm {
    height: 70px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e4e4e4;
  }
  .link-list-sm {
    margin: 0;
  }
  .list-item-sm {
    position: relative;
    list-style: none;
    height: 70px;
    margin: 0;
    color: #2C2C76;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #F4F4F4;
  }
  .list-item-sm.list-item-sm_active {
    background-color: #F2F3F9;
    border-bottom: 1px solid #393982;
  }
  .list-item-sm_none {
    display: none;
  }
  .list-sub-menu-sm {
    width: 100vw;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
  }

  .list-item_link {
    display: flex;
    align-items: center;
    color: #2C2C76;
    padding: 0 20px;
    width: 100%;
    height: 100%;
  }
}