@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
}


/*Button*/

.button {
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 54px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    background-color: #D772C1;
    color: #fff;
    box-shadow: 0px 2px 2px;
    border: 2px rgba(0, 0, 0, 0.3);
    border-radius: 2px;
    cursor: pointer;
    width: 223px;
    font-family: 'Montserrat';
}


/*Container*/

.container {
    font-family: 'Montserrat';
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}


/*Intro*/

.intro {
    font-family: 'Montserrat';
    height: 645px;
    background: linear-gradient(#FFFFFF, #F2F6FE);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.intro__inner {
    max-width: 630px;
    width: 100%;
    margin: 0;
}

.intro__image {
    display: flex;
    justify-content: right;
    margin-right: 50px;
}

.intro .container {
    display: flex;
    justify-content: space-between;
}

.intro .intro__title {
    font-family: 'Montserrat';
    font-size: 20px;
    line-height: 28px;
    color: #7676A7;
    font-weight: 500;
    margin: 0;
    text-align: left;
}

.intro__subtitle {
    font-family: 'Montserrat';
    font-size: 72px;
    font-weight: 700;
    line-height: 80px;
    color: #393982;
    text-align: left;
    margin-top: 16px;
}

.intro__text {
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    text-align: left;
    color: #7676A7;
    margin-top: 24px;
}

.intro__image-sm {
    display: none !important;
}


/*Features*/

.features {
    color: #fff;
    font-family: 'Montserrat';
}

.features__inner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}

.features__item {
    font-family: 'Montserrat';
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    box-shadow: 0px 4px 5px rgba(138, 138, 138, 0.14);
    background: #fff;
    max-width: 413px;
}

.features__item:first-child {
    margin-left: 0;
}

.features__icon {
    margin: 28px 0;
    margin-left: 40px;
    width: 92px;
    height: 92px;
}

.features__title {
    margin-left: 34px;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #393982;
}

.features__text {
    margin: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: #7676A7;
    margin-right: 134px;
}

.features .container {
    position: relative;
    top: -80px;
}

.header-sm {
    display: none;
}

@media (max-width:1199.98px) {
    .container {
        font-family: 'Montserrat';
        width: 100%;
        max-width: 1120px;
        margin: 0 auto;
    }
    /*Intro*/
    .intro__inner {
        max-width: 550px;
        width: 100%;
        margin: 0 40px 0 40px;
    }
    .intro__image {
        display: flex;
        justify-content: right;
        margin-right: 40px;
        max-height: 471px;
    }
    /*Features*/
    .features__inner {
        display: flex;
        flex-direction: row;
        max-width: 100%;
        margin: 0 40px;
    }
    .features__item {
        font-family: 'Montserrat';
        display: flex;
        align-items: center;
        box-shadow: 0px 4px 5px rgba(138, 138, 138, 0.14);
        background: #fff;
        width: 33.3%;
        max-width: 356.4px;
    }
    .features__item:first-child {
        margin-left: 0;
    }
    .features__icon {
        margin: 28px 0;
        margin-left: 40px;
        width: 75px;
        height: 75px;
    }
    .features__title {
        margin-left: 10px;
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 44px;
        color: #393982;
    }
    .features__text {
        margin: 0;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 28px;
        color: #7676A7;
        margin-right: 10px;
    }
}

@media(max-width:767.98px) {}

@media (max-width: 991.98px) {
    .intro__inner {
        max-width: 450px;
        width: 100%;
    }
    .intro__image {
        margin-top: 20px;
        width: 550px;
        height: 411.19px;
    }
    .intro .intro__title {
        font-size: 18px;
    }
    .intro__subtitle {
        font-family: 'Montserrat';
        font-size: 64px;
        margin-bottom: 0;
    }
    .intro__text {
        font-size: 18px;
        margin-top: 15px;
    }
    .features__item {
        max-width: 500px;
    }
    .features__title {
        font-size: 26px;
    }
    .features__text {
        font-size: 14px;
    }
}

@media (max-width: 575.98px) {
    .container {
        font-family: 'Montserrat';
        max-width: 535px;
        margin: 0 auto;
    }

    /*Intro*/
    .intro {
        height: 786px;
        max-width: 100%;
    }

    .intro__inner {
        max-width: 100%;
        margin: 0 40px;
    }

    .intro__image {
        display: none;
    }

    .intro__image-sm {
        display: block !important;
        margin: 40px auto;
        max-width: 375px;
    }

    .intro__title {
        font-family: 'Montserrat';
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
        color: #7676A7;
        font-weight: 500;
        text-align: center;
        max-width: 100%;
    }

    .intro__subtitle {
        font-family: 'Montserrat';
        font-size: 40px;
        font-weight: 700;
        line-height: 48px;
        color: #393982;
        text-align: left;
        margin-top: 16px;
    }

    .intro__text {
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
        text-align: left;
        color: #7676A7;
        margin-top: 16px;
    }

    /*Features*/
    .features__inner {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        margin: 0 20px;
    }

    .features__item {
        font-family: 'Montserrat';
        display: flex;
        align-items: center;
        box-shadow: 0px 4px 5px rgba(138, 138, 138, 0.14);
        background: #fff;
        width: 100%;
        max-width: 100%;
        margin-bottom: 12px;
    }

    .features__item:first-child {
        margin-left: 0;
    }

    .features__icon {
        margin: 20px 0 20px 20px;
        width: 64px;
        height: 64px;
    }

    .features__title {
        margin-left: 16px;
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        line-height: 44px;
        color: #393982;
    }

    .features__text {
        margin: 0;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 28px;
        color: #7676A7;
    }

    .features .container {
        position: relative;
        top: -40px;
    }
}