@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat';
}

a {
    text-decoration: none;
}


/*Graduates*/

.graduates__inner {
    margin-top: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.graduates__item__image {
    margin-bottom: 0;
}

.graduates__item__title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    color: #393982;
    padding-top: 16px;
    margin-bottom: 0;
}

.graduates__item__text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #7676A7;
    margin-top: 8px;
}


/*Works*/

.graduates__works__inner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 20px;
}

.graduate__works__item {
    max-width: 413px;
    box-shadow: 0px 4px 5px rgba(138, 138, 138, 0.14);
    border-radius: 2px;
    height: 358px;
}

.graduate__works__image {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    color: #393982;
    margin: 24px 0 12px 24px;
}

.graduate__works__item__title {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    color: #393982;
    margin: 24px 0 12px 24px;
}

.graduate__works__item__text {
    font-family: 'Montserrat';
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #7676A7;
    margin: 0 0 24px 24px;
}

.graduate__works__image {
    margin: 0;
}